#Highlights {
    background-color: #fafafa;
}

#Highlights h1 {
    font-size: 2rem;
}

#Highlights button {
    background-color: #F4CE14;
    color: #495E57;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

#Highlights button:hover {
    background-color: #d4b100;
    color: #495E57;
    box-shadow: 0 0 10px 5px #333333;
}

#Highlights .Title {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#Highlights .Body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#Highlights .Card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: #EDEFEE;
    border: 2px solid #495E57;
    border-radius: 16px;
    margin: 16px;
}

#Highlights .Card-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
}

#Highlights .Card-title p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #F4CE14;
}

#Highlights .Card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#Highlights .Card img {
    max-width: 100%;
    border-radius: 16px 16px 0 0;
}

#Highlights p:last-child {
    text-align: center;
    font-weight: bold;
}