header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    background-color: #EDEFEE;
    color: #333333;
}

header img {
    max-height: 3rem;
}

header a {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    color: #333333;
    padding: 0 8px;
}

header a:hover {
    text-decoration: underline;
}

header a:visited,
header a:active {
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        padding: 0;
        flex-direction: column;
    }

    header a {
        font-size: 0.8rem;
    }
}