* {
  font-family: "Markazi Text", "Karla", serif; /* Headlines, Sentence case, Leading some point, size as headline */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label,
input,
select,
textarea,
p {
  font-family: "Karla"; /* Parragraph, Sentence case, Size 65% of headline */
}